{% extends 'base.html.twig' %}
{% block body_class %}home{% endblock %}
{% block body %}
    <div id="main-content" class="site-main-content">
        <div id="home-main-content" class="site-home-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="vk-sparta-center-logo-slide visible-md visible-lg">
                        <div class="vk-slide">
                            <div id="owl-slide-home" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="vk-item-slide">
                                        <img src="{{ asset('image9.jpg') }}" alt="" class="img-responsive">
                                        <div class="vk-slide-caption">
                                            <div class="container">
                                                <h3 class="animated fadeInDown slide-delay-1">Naturable</h3>
                                                <h2 class="animated fadeInUp slide-delay-2">Pour une santé naturelle et durable.</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="vk-sparta-center-logo-2-welcometo">
                        <div class="vk-sparta-about">
                            <div class="container">
                                <div class="vk-sparta-head-title">
                                    <h3>Qu'est ce que</h3>
                                    <h2>Naturable ?</h2>
                                    <div class="vk-sparta-about-border"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="vk-sparta-about-text">
                                            <p>
                                                La santé est d’une part, un état de complet bien-être physique, mental et social et ne consiste pas seulement en une absence de maladie ou d'infirmité et d’autre part l’ensemble des ressources  sociales, personnelles et physiques permettant à l’individu de réaliser ses aspirations et de satisfaire ses besoins.
                                            </br>
                                                Définition OMS de la santé.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    <div class="vk-sparta-image">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="{{ path('preventive_therapy') }}">
                                                <img src="{{ asset('img/1-therapie-preventive.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Thérapies préventives</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3  vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                                <img src="{{ asset('square3.jpg') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="{{ path('complementary_therapy') }}">
                                                <img src="{{ asset('img/4-therapie-complementaire.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Thérapies complémentaires</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                                <img src="{{ asset('square3.jpg') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="{{ path('conference_index') }}">
                                                <img src="{{ asset('img/2-conferences-et-interventions.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Conférences et interventions</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="{{ path('contact') }}">
                                                <img src="{{ asset('img/3-prendre-rdv.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Prendre rendez-vous</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3  vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                                <img src="{{ asset('square3.jpg') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="{{ path('about') }}">
                                                <img src="{{ asset('img/5-a-propos.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>A propos</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
