{% extends 'base.html.twig' %}
{% block body_class %}home{% endblock %}
{% block body %}
    <div id="main-content" class="site-main-content">
        <div id="home-main-content" class="site-home-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="vk-sparta-center-logo-slide">
                        <div class="vk-slide">
                            <div id="owl-slide-home" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="vk-item-slide">
                                        <img src="{{ asset('image9.jpg') }}" alt="" class="img-responsive">
                                        <div class="vk-slide-caption">
                                            <div class="container">
                                                <h3 class="animated fadeInDown slide-delay-1">Naturable</h3>
                                                <h2 class="animated fadeInUp slide-delay-2">Pour une santé naturelle et durable.</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="vk-sparta-center-logo-2-welcometo">
                        <div class="vk-sparta-about">
                            <div class="container">
                                <div class="vk-sparta-head-title">
                                    <h3>Qu'est ce que</h3>
                                    <h2>Naturable ?</h2>
                                    <div class="vk-sparta-about-border"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="vk-sparta-about-text">
                                            <p>
                                                Lorem Khaled Ipsum is a major key to success. Bless up. The weather is amazing,
                                                walk with me through the pathway of more success. Take this journey with me, Lion!
                                                Let me be clear, you have to make it through the jungle to make it to paradise,
                                                that’s the key, Lion! Wraith talk. They key is to have every key, the key to open
                                                every door. Put it this way, it took me twenty five years to get these plants,
                                                twenty five years of blood sweat and tears, and I’m never giving up, I’m just
                                                getting started.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    <div class="vk-sparta-image">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="#">
                                                <img src="{{ asset('square2.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Thérapies préventives</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3  vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                                <img src="{{ asset('square3.jpg') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="#">
                                                <img src="{{ asset('square1.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Thérapies complémentaires</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                                <img src="{{ asset('square3.jpg') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="#">
                                                <img src="{{ asset('square2.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Conférences et interventions</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="#">
                                                <img src="{{ asset('square1.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>Prendre rendez-vous</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3  vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                                <img src="{{ asset('square3.jpg') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 vk-clear-padding">
                                    <div class="vk-sparta-image-item">
                                        <div class="vk-sparta-item-img">
                                            <a href="#">
                                                <img src="{{ asset('square2.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="vk-iamge-item-caption">
                                            <h2>A propos</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
