<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Naturable.fr{% endblock %}</title>

    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('theme/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/fonts/raleway/raleway.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/fonts/font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/fonts/playfair-display/playfair-display.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/plugin/dist/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/plugin/dist/assets/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/themify-icons.css') }}">
        <link rel="stylesheet" href="" f="{{ asset('theme/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/bootstrap-datepicker3.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/jquery-ui.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('theme/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/lightgallery.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/bootstrap-datetimepicker.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('theme/css/semantic.css') }}" type="text/css">
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="vk-sparta-center-logo-2">
        <div id="wrapper-container" class="site-wrapper-container">
            {% include 'nav.html.twig' %}

            {% block body %}
            {% endblock %}

            {% include 'footer.html.twig' %}
        </div><!-- #wrapper-container -->
    </div><!-- .vk-sparta-center-logo-2 -->

{% block javascripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('theme/js/jquery.min.js') }}"></script>
    <script src="{{ asset('theme/plugin/dist/owl.carousel.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ asset('theme/js/jquery.waypoints.js') }}"></script>
    <script src="{{ asset('theme/js/number-count/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('theme/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('theme/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('theme/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('theme/js/bootstrap-datepicker.tr.min.js') }}"></script>
    <script src="{{ asset('theme/js/moment.min.js') }}"></script>
    <script src="{{ asset('theme/js/wow.min.js') }}"></script>
    <script src="{{ asset('theme/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
    <script src="{{ asset('theme/js/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
    <script src="{{ asset('theme/js/picturefill.min.js') }}"></script>
    <script src="{{ asset('theme/js/lightgallery.js') }}"></script>
    <script src="{{ asset('theme/js/lg-pager.js') }}"></script>
    <script src="{{ asset('theme/js/lg-autoplay.js') }}"></script>
    <script src="{{ asset('theme/js/lg-fullscreen.js') }}"></script>
    <script src="{{ asset('theme/js/lg-zoom.js') }}"></script>
    <script src="{{ asset('theme/js/lg-hash.js') }}"></script>
    <script src="{{ asset('theme/js/lg-share.js') }}"></script>
    <script src="{{ asset('theme/js/jquery.nice-select.js') }}"></script>
    <script src="{{ asset('theme/js/semantic.js') }}"></script>
    <script src="{{ asset('theme/js/parallax.min.js') }}"></script>
    <script src="{{ asset('theme/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('theme/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('theme/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
