<header class="site-header header-default header-sticky">
    <nav class="main-navigation">

        <div class="vk-main-menu animated uni-sticky is-sticky">
            <div class="container">
                <div class="vk-navbar-header navbar-header">
                    <div class="vk-divider left hidden-xs hidden-sm"></div>
                    <div class="vk-divider right hidden-xs hidden-sm"></div>
                    <a class="vk-navbar-brand navbar-brand" href="#">
                        <img src="{{ asset('theme/images/01_08_center_logo_2/LOGO.png') }}" alt="" class="img-responsive">
                    </a>
                </div>

                <div class="row">
                    <div class="collapse navbar-collapse vk-navbar-collapse" id="menu">
                        <nav class="main-navigation">
                            <div class="inner-navigation">
                                <ul class="vk-navbar-nav vk-navbar-left nav-bar">
                                    <li><a href="{{ path('home') }}">Accueil</a></li>
                                    <li><a href="{{ path('preventive_therapy') }}">Thérapies préventives</a></li>
                                    <li><a href="{{ path('complementary_therapy') }}">Thérapies complémentaires</a></li>

                                </ul>
                                <ul class="vk-navbar-nav vk-navbar-right">
                                    <li><a href="{{ path('home') }}">Conférences</a></li>
                                    <li><a href="{{ path('news_index') }}">Actualités</a></li>
                                    <li><a href="{{ path('about') }}">A propos</a></li>
                                    <li><a href="{{ path('contact') }}">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-12">
                        <div class="show-hover-shortcodes animated">
                            <div class="col-md-3">
                                <h4>SHORT CODE 1</h4>
                                <ul>
                                    <li><a href="08_01_buttons.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Buttons</a></li>
                                    <li><a href="08_02_accordion.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Accordion</a></li>
                                    <li><a href="08_03_notification_box.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Notification</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>SHOTR CODE 2</h4>
                                <ul>
                                    <li><a href="08_04_icon_box.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Icon Box</a></li>
                                    <li><a href="08_05_tabs.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tabs</a></li>
                                    <li><a href="08_06_typography.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Typography</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>SHOTR CODE 3</h4>
                                <ul>
                                    <li><a href="08_07_dividers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dividers</a></li>
                                    <li><a href="08_08_icon.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Icon</a></li>
                                    <li><a href="08_09_color.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Color</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>SHOTR CODE 4</h4>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dropdown Menu</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Mega Menu</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Search Box</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-search-header collapse in" id="box-search-header">
                            <div class="vk-input-group">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control"  placeholder="Type keywords.." >
                                    <span class="input-group-addon">
                                <button type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--./vk-navbar-collapse-->
            </div>
        </div>
    </nav>
</header>
