<header class="site-header header-default header-sticky">
    <nav class="main-navigation visible-md visible-lg">

        <div class="vk-main-menu animated uni-sticky is-sticky">
            <div class="container">
                <div class="vk-navbar-header navbar-header">
                    <div class="vk-divider left hidden-xs hidden-sm"></div>
                    <div class="vk-divider right hidden-xs hidden-sm"></div>
                    <a class="vk-navbar-brand navbar-brand" href="#">
                        <img src="{{ asset('img/logo.png') }}" alt="" class="img-responsive main-logo">
                    </a>
                </div>

                <div class="row">
                    <div class="collapse navbar-collapse vk-navbar-collapse" id="menu">
                        <nav class="main-navigation">
                            <div class="inner-navigation">
                                <ul class="vk-navbar-nav vk-navbar-left nav-bar">
                                    <li><a href="{{ path('home') }}">Accueil</a></li>
                                    <li><a href="{{ path('preventive_therapy') }}">Thérapies préventives</a></li>
                                    <li><a href="{{ path('complementary_therapy') }}">Thérapies complémentaires</a></li>

                                </ul>
                                <ul class="vk-navbar-nav vk-navbar-right">
                                    <li><a href="{{ path('conference_index') }}">Conférences</a></li>
                                    <li><a href="{{ path('news_index') }}">Actualités</a></li>
                                    <li><a href="{{ path('about') }}">A propos</a></li>
                                    <li><a href="{{ path('contact') }}">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!--./vk-navbar-collapse-->
            </div>
        </div>
    </nav>
</header>
